@font-face {
	font-family: "Lato";
	src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
	font-family: "OpenSans";
	src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
	font-family: "OpenSans-Semibold";
	src: url(../fonts/OpenSans-Semibold.ttf);
}

@font-face {
	font-family: "Raleway";
	src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
	font-family: "Raleway-Bold";
	src: url(../fonts/Raleway-Bold.ttf);
}

@font-face {
	font-family: "Raleway-SemiBold";
	src: url(../fonts/Raleway-SemiBold.ttf);
}

@font-face {
	font-family: "Raleway-Light";
	src: url(../fonts/Raleway-Light.ttf);
}