$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower


// fonts
@import "fonts.scss";

@import "custom-checkbox.scss";

@import "jquery-ui.scss";

// big-bg
html, body {
	height: 100%
}
body {
	position: relative;
}
.big-bg {
	z-index: -1;
	width: 100%;
	height: 100%;
	background-color: #323232;
	background-repeat: no-repeat;
	background-size: cover;
}
.main-logo {
	width: 100px;
	margin-top: 25px;
}

/* CSS Animated Hamburger Icon */
.nav-toggle {
	z-index:10001;
	position: absolute; 
	right: 10px; 
	top: 35px;
	padding: 19px 30px 22px 10px; 
	cursor: pointer; 
	background: rgba(93, 96, 97, 0.81);
	

	span, 
	span:before, 
	span:after {
		position: absolute;
		display: block;
		border-radius: 1px;
		height: 3px;
  		width: 20px;
		background: white;
		content: '';
		cursor: pointer;
		transition: all 500ms ease-in-out;
	}
	span {
		&:before {
			top: -6px; 		
		}
		&:after {
			bottom: -6px;	
		}
	}

	&.active {
		span {
			background-color: transparent;
			
			&:before,
			&:after {
				top: 0;
			}
			&:before {
				transform: rotate(45deg);
			}
			&:after {
				transform: rotate(-45deg);
			}
		}
	}	
	
}
/* End CSS Animated Hamburger Icon */


/* form */
.formFileds {
	input, textarea {
			width: 100%;
			margin: 15px 0;
			border: 0;
			padding: 20px;
			border-radius: 1px;
			color: #adadad;
			font: 16px/119% "Raleway";
			background: #f2f2f2;
			outline: none;
		}
		textarea {
			min-height: 229px;
			max-width: 100%;
		}
		.row-button {
			text-align: center;

			.link-send-message {
				position: relative;
				padding: 18px 20px 18px 56px;
				border: 1px solid #E46E2E;
				color: #E46E2E;
				font: 16px/119% "Raleway-Bold";
				border-radius: 2px;
				outline: none;
				background: #fff;

				-webkit-transition: all 0.2s ease;
			     -moz-transition: all 0.2s ease;
			       -o-transition: all 0.2s ease;
			      -ms-transition: all 0.2s ease;
			          transition: all 0.2s ease;

				&:hover {
					border-color: #E46E2E;
					color: #fff;
					background: #E46E2E;

					-webkit-transition: all 0.2s ease;
				     -moz-transition: all 0.2s ease;
				       -o-transition: all 0.2s ease;
				      -ms-transition: all 0.2s ease;
				          transition: all 0.2s ease;

				    &:before {
				    	background-position: -28px -46px;
				    }
				}
				&:before {
					position: absolute;
					top: 16px;
  					left: 22px;
					display: inline-block;
					width: 23px;
					height: 24px;
					content: "";
					background-image: url("../images/icons/sprite_icons.png");
					background-repeat: no-repeat;
					background-position: -1px -46px;
				}
			}
		}
}
/* End form */


/* fixed menu */
.vertical-menu {
	display: none;
	z-index: 10000;
	overflow: auto;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	padding: 40px;
	background: rgba(228,110,26, 0.96);
	text-align: center;

	ul {
		margin: 0;
		padding: 0 0 10px 0;

		li {
			margin: 0;
			padding: 0;
			list-style: none;
			text-align: center;

			a {
				display: inline-block;
				margin: 0 0 25px 0;
				color: #fff;
				font: 18px/117% 'Raleway-Bold';
				text-transform: uppercase;

				&:hover {
					color: #e3e3e3;
					text-decoration: none;
				}

			}
		}
	}
	.another-links {
		display: inline-block;
		border: 0;
		padding: 25px 0 0 0;
		text-align: center;
		border-top: 1px solid #fff;

		li {
			margin: 0 15px;
			display: inline-block;
		}
	}
}
.menuShowed {
	  overflow: hidden;
	  .vertical-menu {
	  	display: block;
	  }
	  .nav-toggle {
	  	  background: rgba(93, 96, 97, 0.41);
	  }
}
/* end fixed menu */

/* custom-select */
.custom-select {
	margin-top: 15px;
	margin-bottom: 15px;
	.checkboxList {
		display: none;

		&.minsk {
			display: block;
		}
	}

	.ui-selectmenu-button span.ui-selectmenu-text {
	  border: 0;
	  padding: 20px;
	  border-radius: 1px;
	  color: #adadad;
	  font: 16px/119% "Raleway";
	  background: #f2f2f2;
	  outline: none;
	}
	.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
		&:focus {
			outline: none;
			border: 0;
			border-radius: 0;		
		}
	}
	.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
		border-radius: 0;
		border: 0;

		&:focus {
			outline: none;
		}
	}


}
.ui-selectmenu-menu {
	.ui-widget-content {
		margin-top: 3px;
		border: 0;
		padding: 7px 20px;
		border-radius: 1px;
		color: #747070;
		font: 13px/119% "Raleway";
		background: #DDD;
		outline: none;
	}
	.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
		border: 0;
		margin:  0;
		background: none;
		font-weight: 400;
	}
}
/* end custom-select */

/* custom checkbox */
.wrapp-checkbox {
	[type="checkbox"]:not(:checked) + label:before, [type="checkbox"]:checked + label:before {
		top: -2px;
		width: 23px;
		height: 23px;
		border-radius: 2px;
		border: 1px solid #E46E2E;
		background: none;
		box-shadow: none;
	}

	[type="checkbox"]:not(:checked) + label, [type="checkbox"]:checked + label {
		padding-left: 31px;
		font: 16px/119% "Raleway";
	}
	[type="checkbox"]:not(:checked) + label:after, [type="checkbox"]:checked + label:after {
		color: #E46E2E;
		left: 7px;
	}
	label:hover:before {
		border: 1px solid #E46E2E!important;
	}
}
	
/* end custom checkbox */

/* Pages */
@import "main-page.scss";

@import "speaker-mentor.scss";

@import "blog.scss";

@import "media.scss";

@import "team.scss"; 


@media (max-width: $screen-md-min) {
	.blog-focus-on {
		img {
			padding: 10px 0;
		}
		.focus-description {
			margin: 0 0 0 5px;
		}
	}
	.blog-we-do {
		.project-items {
			height: 280px;

			.project-title {
				font-size: 18px;
			}

			.more {
				bottom: 17px;
			}
		}
		.project2 {
			.project-title {
				font-size: 16px;
			}
		}
	}
	.blog-partners-clients {
		.link-show-secret {
			font-size: 25px;
		}
	}
	.block-social-links {
		.wrapp-image {
			img {
				max-width: 98%;
				height: auto;
			}
		}
		.wrapp-social-links {
			.social-icon {
				margin: 13px 5px 35px 5px;
			}
		}
	}
	.block-testimonials {
		.carousel {
			.item {
				.person-info {
					text-align: center;

					.photo {
						float: none;
					}
					.person-name,
					.position {
						margin-left: 0;
					}
				}
			}
			.carousel-control {
				top: 40px;

				&.left {
					left: 20px;
				}
				&.right {
					right: 20px;
				}
			}
			.carousel-caption {
				padding-left: 65px;
				padding-right: 65px;
			}

		}
	}
	.page-get-ivolved {
		.article {
			h2 {
				font-size: 26px;
  				text-align: center;
			}
		}
	}

	.page-media {
		.download-logo {
			margin-bottom:15px;
		}
		.block-about-us {
			.wrapp-news {
  				padding: 0 0 15px 0;
			}
		}
		.block-our-honors {
			.blog-title {
				margin-top: 100px;
			}
			.wrapp-honor {
				min-height: inherit;
			}
		}


	}

	.page-team {
		.header-main-page .page-title h1 {
			font-size: 35px;
			line-height: 117%;
		}
		.blog-meet-our-team  {
			.another-members {
				.wrapp-member-team {
					display: block;
					margin-bottom: 25px;
				}
			}

			.wrapp-member-team {
				margin-bottom: 25px;
			}
		}

	}
	.block-social-links {
		.wrapp-image {
			padding-top: 15px;
		}
	}
}

.blog-title {
	text-align: center;
}

@media (max-width: $screen-xs-min) {
	.blog-title {
		font-size: 32px;
		line-height: 116%;

	}

	.header-main-page {
		.page-title {
			h1 {
				font-size: 35px;
				line-height: 117%;
			}
		}
	}

	.blog-focus-on {
		img {
			padding: 20px 0;
		}
		.focus-description {
			display: block;
			margin: 0 auto;
			text-align: center;
		}
	}

	.blog-heart {
		&.content-showed {
			background-position: center 106px;
		}
		.block_first {
			.text-question {
				padding-left: 15px;
				padding-right: 15px;
				font-size: 30px;
				text-align: center;
			}
			.wrapp-batton-show {
				text-align: center;
			}
		}
		.block_second {
			  padding: 135px 0 175px 0px;
			.blog-title {
				font: 44px/118% "Raleway";
				margin: 0 0 93px 0;
			}
		}
	}
	.blog-partners-clients .bx-wrapper .bx-prev {
		left: -10px;
	}
	.blog-partners-clients .bx-wrapper .bx-next {
  		right: -10px;
  	}
}
